html {
    scroll-behavior: smooth;
}
body {
    margin: 5%;
    font-family: "JetBrains Mono", monospace;
}
.logo {
    width: 23%;
}
p {
    font-family: "JetBrains Mono", monospace;
    font-size: larger;
}
nav {
    display: flex;
}
a:hover {
    color: blueviolet;
}
nav li {
    list-style: none;
    padding-top: 20%;
}
nav ul {
    margin-block-start: 0em !important;
    padding-inline-start: 0px !important;
    padding-top: 3%;
}
button {
    padding-right: 5%;
}
.heroImg {
    height: auto;
    width: 40%;
    padding-left: 1%;
    object-fit: contain;
}
.content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.contentText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    text-align: right;
}
.workGrid {
    display: grid;
    grid-template-columns: 80% 20%;
}
.workGrid img {
    width: 100%;
    height: auto;
}
footer {
    padding-top: 8%;
}
.mainImg {
    width: 300px;
    height: auto;
    float: right;
    margin-top: auto;
    padding-top: 4%;
}
h1 {
    display: inline-block;
    padding-inline-start: 5%;
}
.research img {
    width: 500px;
    height: auto;
}
.synthesis img {
    width: 500px;
    height: auto;
}
.ideation img {
    width: 500px;
    height: auto;
}
.wireframing img {
    width: 500px;
    height: auto;
}
.prototyping img {
    width: 500px;
    height: auto;
}
.testing img {
    width: 500px;
    height: auto; 
}
.iterations img {
    width: 500px;
    height: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@media only screen and (max-width: 600px) {
    .workGrid {
        flex-direction: column;
        width: 100%;
        grid-template-columns: 80% 20%;
    }
    nav {
        flex-direction: column-reverse;
    }
    nav ul {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    nav li {
        padding: 0% 20px;
    }
    .content {
        justify-content: flex-start;
    }
    .heroImg {
        width: 70%;
        height: auto;
    }
    .contentText {
        width: 25%;
    }
}
@media only screen and (max-width: 960px) and (min-width: 600px) {
    .heroImg {
        width: 60%;
        height: auto;
    }
}